Options -Indexes

RewriteEngine on

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

ErrorDocument 403 /~koi/koi.nil.seattle.wa.us/403.html
ErrorDocument 404 /~koi/koi.nil.seattle.wa.us/404.html
