body {
	margin: 1% auto;
	box-sizing: border-box;
	padding: 10px; max-width: 750px;
	background: #efefef; color: #010101;
	font-family: Verdana, sans-serif;
	font-size: 150%;
	line-height: 1.5
}

a {
	color: blue;
}

main {
	line-height: 1.5em;
}
article>header {
	font-size: 140%; font-weight: bold;
}
article>footer, body>footer {
	font-style: italic; font-size: 90%;
}

audio { width: 100%; }

img { max-width: 100%; }

h2:before { content: "# "; }
h3:before { content: "## "; }
h4:before { content: "### "; }
h5:before { content: "#### "; }