<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }} {%if page.title %}-{% endif %} {{ site.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/assets/highlight.css">
	<style type="text/css">
		{% include main.css %}
	</style>
</head>
<body>
<header>
<h1>{{ site.title }}</h1>
</header>
{% include nav.html %}
<main>
	<h2>{{page.title}}</h2>
{{content}}
</main>

<hr>

{% include footer.html %}
</body>
</html>